{% extends 'base.html' %}

{% block content %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/css/profile.css">
  <link rel="stylesheet" href="../static/css/base.css">

</head>


<div class="container">
  <div class="row text-center">
    {% if blogs %}
    <h2> Found {{blogs|length}} results with the search term "{{message}}"</h2>
    {% else %}
    <h2> Found 0 results for the search term "{{message}}"</h2>
    {% endif %}
  </div>


  
{% endblock %}
